<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title><?php if(isset($metaTitle)) echo $metaTitle. " | "; ?>Hockey Camel</title>

    <script src="https://use.fontawesome.com/1f1fa1e0ca.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

     <script src="https://unpkg.com/vue/dist/vue.js"></script> 
     <script src="https://unpkg.com/vue-resource/dist/vue-resource.js"></script> 


      <!-- <script src="https://unpkg.com/vue/dist/vue.min.js"></script>  -->
     <!-- <script src="https://unpkg.com/vue-resource/dist/vue-resource.min.js"></script>  -->
 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



<!-- slider -->
    <style type="text/css">@import url(//fonts.googleapis.com/css?family=PT+Serif:regular&subset=cyrillic);
        @import url(//fonts.googleapis.com/css?family=PT+Serif:regular&subset=cyrillic);
        @import url(//fonts.googleapis.com/css?family=PT+Serif:regular&subset=cyrillic);
    </style>

    <link href="http://fonts.googleapis.com/css?family=Lora:400%2C500%7CCinzel:400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/style.css') }}">

</head>

<body>
<div class="container">
    

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <img class="clearfix" src="{{ asset('public/images/logo.png') }}" alt="">
            </li>
            @foreach($categories as $cat)
            <li class="nav-item">
                <a href="shop/{{ $cat->slug }}" class="nav-link"><i class="fa fa-circle"></i>{{ $cat->title }}</a>
            </li>   
            @endforeach
        </ul>

        <small class="link pull-right"><span id="ref_link">http://faucet.dev/r/asddsada</span> <a class="copylink" data-clipboard-target="#ref_link" href="#">copy</a></small>
    </div>
    </nav>





@yield('content')   


</div>

</body>
</html>
